.modal {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50rem;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}
.modal__header {
  width: 100%;
  padding: 1rem 0.5rem;
  background: #333;
  color: white;
}
.content__div {
  padding: 12px;
}
.modal__header h2 {
  margin: 0.5rem;
}
.modal__footer {
  padding: 1rem 0.5rem;
}

/* .modal-enter {
  transform: translate(-5rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translate(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translate(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translate(-5rem);
  opacity: 0;
  transition: all 200ms;
} */
@media (max-width: 768px) {
  .modal {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
  }
  .content__div {
    padding: 8px;
  }
}
